body {
    background: #07080a;
  font-family: Arial, sans-serif;
}

.tonConnect {
  float: right;
}

.header{
    width: 100%;
    top: 35%;
    left: 50%;
    position: absolute;
    display: block;
    color: white;
    text-align: center;
    transform: translate(-50%, -50%);
}

.sendBtn {
  width: 90%;
  top: 45%;
  left: 50%;
  position: absolute;
  display: block;
  transform: translate(-50%, -50%);
  color: white;
  background-color: blue;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.language-selector {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2px;
}

.language-selector label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.styled-select {
  width: 220px;
  padding: 10px;
  font-size: 1rem;
  color: white;
  background-color: #0f1216;
  border-radius: 8px;
  outline: none;
  transition: all 0.3s ease;
}

.styled-select:hover {
  background-color: #f1f1f1;
}

.styled-select:focus {
  border-color: #0056b3;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.language-selector select option {
  padding: 7px;
  font-size: 1rem;
}

@media (max-width: 600px) {
  .styled-select {
    width: 90%;
  }
}

.back-button {
    top: 66%;
    right: 50%;
    transform: translate(50%, -50%);
    position: absolute;
    display: block;
    gap: 8px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    font-size: 12px;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .back-button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
  }
  
  .back-button:active {
    background-color: #003f7f;
    box-shadow: none;
  }
  
  .back-icon {
    font-size: 1rem;
  }
  
